<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
</head>
<body>

<ol id="app">
  <!-- 创建一个 todo-item 组件的实例 -->
  <todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.id"></todo-item>
</ol>


</body>
<script>
Vue.component('todo-item', {
    props:['todo'],
    template: "<li>{{todo.text}}</li>"
})
new Vue({
    el:"#app",
    data:{
        list:[
            {id:1,text:'one'},
            {id:2,text:'two'},
            {id:3,text:'three'}
        ]
    }
})
</script>
</html>